.top-bar {
    background-color: white;
    margin:auto;
    padding: 5px;
    margin: auto;
    text-align: center;
}
.main-title {
    width: 800px;
    text-align: left;
    margin: auto;
}
body {
    background-color: lightgray;
    font-family: "Open Sans", sans-serif;
}
.post {
    max-width: 800px;
    margin:auto;
    background-color: white;
    margin-top: 80px;
    border-radius: 1%
}
img {
    width:100%
}
h3 {
    color: lightgray;
    float: right;
}

.title {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid lightgray;
}
p {
    margin-top: 5px;
    border-top: 1px solid lightgray;
    padding: 25px;
}